<div ng-controller="FormController">
	<h1 class="page-header">Forms</h1>

	<ul class="nav nav-tabs">
		<li class="active" role="presentation"><a href="#">Forms</a></li>
		<li role="presentation"><a href="form-fields.html">Fields</a></li>
	</ul>

	<table class="table table-striped table-responsive">
			<thead>
				<th>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					Form Name
				</th>
				<th>Action</th>
				<tr>
					<td>
						<input ng-model="newForm.name" type="text" name="name" placeholder="Name" class="form-control">
					</td>
					<td class="no-wrap">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
						<button ng-click="addForm(newForm)" type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</thead>
			<tr ng-repeat="form in forms">
				<td>
					<a href="">{{form.name}}</a>
				</td>
				<td>
                    <button  ng-click="updateForm(form)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
					<button ng-click="deleteForm(form)" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
	</table>
</div>