<div ng-controller="FormController">
	<h1 class="page-header">Forms</h1>

	<ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.url().indexOf('form') != -1}"><a href="#/forms">Forms</a></li>
        <li ng-class="{'active' : $location.url().indexOf('fields') != -1}"><a href="#/fields">Fields</a></li>
	</ul>

	<table class="table table-striped table-responsive">
			<thead>
				<th>
					<span class="glyphicon glyphicon-triangle-bottom"></span>
					Form Name
				</th>
				<th>Action</th>
				<tr>
					<td>
						<input ng-model="model.title" type="text" name="name" placeholder="Name" class="form-control">
					</td>
					<td class="no-wrap">
                        <button  ng-click="model.updateForm()" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
						<button ng-click="model.addForm()" type="button" class="btn btn-primary">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</thead>
			<tr ng-repeat="form in model.forms">
				<td>
					<a href="#/user/{{model.user.id}}/form/{{form.id}}/fields">{{form.title}}</a>
				</td>
				<td>
                    <button  ng-click="model.selectForm(form.id)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
					<button ng-click="model.deleteForm(form.id)" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</td>
			</tr>
	</table>
</div>