
<div ng-controller="UserHomeController">

        <div style="background: inherit;">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h4 ng-show="loggedInUser" class="pull-left">Welcome {{model.user.fullname}}</h4>
                <div class="pull-right">
                    <ul class="sub-header" >
                        <li ng-show="loggedInUser" >  <a  style="color:darkslategrey" ng-show="model.loggedInUser" href="" ng-click="model.checkOut()"><span class="glyphicon glyphicon-shopping-cart"></span>Check out</a></li>
                        <li ng-show="loggedInUser"  >  <a  style="color:darkslategrey" ng-show="model.loggedInUser" href="" ng-click="model.myOrders()"><span class="glyphicon glyphicon-tasks"></span>My Orders</a></li>
                    </ul>
                </div>
            </div>
        </div>

    <div>
        <div class="center">
            <h4>Enter the title, cuisine or type of dish to order:</h4>
        </div>
        <div class="center1">
            <input class="search-tool" style="width: 50%" ng-model="model.keyword" type="text" placeholder="Indian/Vegetarian/Tacos">
            <button ng-click="model.searchDish(model.keyword)"class="search-tool btn btn-success glyphicon glyphicon-search">
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="dish in model.dishes">

                <div style="padding-left: 40px" class="media services-wrap">
                    <a href="" ng-click="model.dishDetail($index)">
                    <div class="pull-left">
                        <img class="img-responsive" id="img-fixed-search" src="{{dish.image}}"/>
                        <p class="truncate center link expandable">{{dish.title}}</p>
                    </div>
                    </a>
                    <div class="media-body">

                        <p class="truncate media-text-color expandable">
                            <span class="glyphicon glyphicon-star"></span>
                            Rating: {{dish.rating}}
                        </p>
                        <p class="truncate media-text-color expandable">
                            <span class="glyphicon glyphicon-usd"></span>
                            Price: {{dish.price}}
                        </p>
                        <p class="truncate media-text-color expandable">
                            <span class="glyphicon glyphicon-user"></span> Chef: {{dish.chef}}
                        </p>
                        <p class="truncate media-text-color expandable">
                            <span class="glyphicon glyphicon-hourglass"></span>
                            Quantity left: {{dish.quantity}}
                        </p >
                        <p ng-show="model.loggedInUser" class="truncate media-text-color expandable">
                            Add to cart
                            <a  ng-click="model.addToCart($index)" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </p>
                    </div>
                </div>

        </div>
</div>
</div>