<div ng-controller="ChefHomeController"  class="container-fluid">
    <div class="container-fluid">
        <h4 class="navbar-left">Welcome, {{model.user.fullname}}</h4>
        <a class="navbar-right" style="color:darkslategrey" href="" ng-click="model.addDish()"><span class="glyphicon glyphicon-plus"></span>Add dish</a>
    </div>
    <label>Your remaining dishes:</label>

    <table class="table table-responsive table-bordered">

        <thead>
        <th>Title</th>
        <th>Cuisine</th>
        <th>Type</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Ingredients</th>
        </thead>
        <tbody>
        <tr ng-repeat="dish in model.dishes">
            <td>{{dish.title}}</td>
            <td>{{dish.cuisine}}</td>
            <td>{{dish.type}}</td>
            <td>{{dish.price}}</td>
            <td>{{dish.quantity}}</td>
            <td>{{dish.ingredients}}</td>
        </tr>
        </tbody>

    </table>

    <label>Your Orders:</label>
    <table class="table table-responsive table-bordered">
        <th>OrderId</th>
        <th>Customer Email</th>
        <th>Total Amount</th>
        <th>Title</th>
        <th>Rating</th>
        <th>Type</th>
        <th>Quantity</th>
        <tr class="tr-for" ng-repeat-start="chapter in model.orders"></tr>
        <tr ng-repeat-start="section in chapter.dishes" ng-repeat-end>
            <td>{{chapter._id}}</td>
            <td>{{chapter.customerEmail}}</td>
            <td>{{chapter.totalAmount}}</td>
            <td>{{section.title}}</td>
            <td>{{section.rating}}</td>
            <td>{{section.type}}</td>
            <td>{{section.quantity}}</td>
        </tr>
        <tr class="tr-end" ng-repeat-end></tr>
    </table>
</div>