<div ng-controller="ChefHomeController">
    <div class="container-fluid">
        <h4 class="navbar-left">Welcome, {{model.user.fullname}}</h4>
        <a class="navbar-right btn-primary" href="" ng-click="model.addDish()">Add dish</a>
    </div>
    <label>Your remaining dishes:</label>
    <table class="table table-responsive table-bordered">
        <thead>
        <th>Title</th>
        <th>Cuisine</th>
        <th>Type</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Ingredients</th>
        </thead>
        <tbody>
        <tr ng-repeat="dish in model.dishes">
            <td>{{dish.title}}</td>
            <td>{{dish.cuisine}}</td>
            <td>{{dish.type}}</td>
            <td>{{dish.price}}</td>
            <td>{{dish.quantity}}</td>
            <td>{{dish.ingredients}}</td>
        </tr>
        </tbody>

    </table>

    <label>Your Orders:</label>

    <table class="table table-responsive table-bordered table-striped">
        <thead>
        <th>Order</th>
        <th>
            TotalAmount
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
        <th>
            &nbsp;
        </th>
        </thead>
        <tbody ng-repeat="row in model.orders">
        <tr>{{row._id}}</tr>
        <tr>{{row.totalAmount}}</tr>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Rating</th>
        </tr>
        <tr ng-repeat="sub in row.dishes">
            <td>{{sub.title}}</td>
            <td>{{sub.price}}</td>
            <td>{{sub.quantity}}</td>
            <td>{{sub.rating}}</td>

        </tr>
        </tbody>
    </table>
</div>