<div ng-controller="DriverProfileController">
    <h1>Welcome, Driver</h1>
    <label>Your upcoming deliveries:</label>
    <table class="table table-responsive table-bordered">
        <thead>
        <th>When</th>
        <th>From</th>
        <th>To</th>
        <th>Contact Person</th>
        <th>Contact Number</th>
        </thead>
        <tbody>
        <tr ng-repeat="dish in upcomingDeliveries">
            <td>{{dish.when}}</td>
            <td>{{dish.from}}</td>
            <td>{{dish.to}}</td>
            <td>{{dish.contactPerson}}</td>
            <td>{{dish.contactNumber}}</td>
        </tr>
        </tbody>
    </table>
    <label>Your completed deliveries:</label>
    <table class="table table-responsive table-bordered">
        <thead>
        <th>When</th>
        <th>From</th>
        <th>To</th>
        <th>Contact Person</th>
        <th>Contact Number</th>
        </thead>
        <tbody>
        <tr ng-repeat="dish in completedDeliveries">
            <td>{{dish.when}}</td>
            <td>{{dish.from}}</td>
            <td>{{dish.to}}</td>
            <td>{{dish.contactPerson}}</td>
            <td>{{dish.contactNumber}}</td>
        </tr>
        </tbody>
    </table>
</div>