<div ng-controller="UserProfileController">
    <div class="navbar-right">
        <a href="user-register.view.html">Update Profile</a>
    </div>
    <h3>Welcome {{model.user.username}},</h3>
    <br/>
    <div>
        <label>Enter the title, cuisine or type of dish to order: <input ng-model="model.searchText"></label>
        <br/>
        <br/>
        <table class="table table-responsive">
            <thead>
            <th>Title</th>
            <th>Cuisine</th>
            <th>Type</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Action</th>
            </thead>
            <tr ng-repeat="recipe in model.recipes | filter: searchText:strict">
                <td>
                    <a href="" ng-click="createDialog($index)">{{recipe.title}}</a>
                </td>
                <td>
                    {{recipe.cuisine}}
                </td>
                <td>
                    {{recipe.type}}
                </td>
                <td>
                    {{recipe.price}}
                </td>
                <td>
                    {{recipe.quantity}}
                </td>
                <td>
                    <img src="../images/download.jpg"/>
                </td>
                <td>
                    <button  ng-click="model.addToCart()" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>

            </tr>

        </table>
        <button  ng-click="model.checkOut()" class="btn btn-default">Check Out</button>
    </div>
</div>